services:
  - type: web
    name: devia-n8n-caio
    env: docker
    plan: free
    image:
      url: n8nio/n8n:latest
    disks:
      - name: n8n-data
        mountPath: /home/node/.n8n
        sizeGB: 1
    envVars:
      - key: TZ
        value: America/Sao_Paulo
      - key: N8N_HOST
        value: 0.0.0.0
      - key: N8N_CORS_ALLOWED_ORIGINS
        value: https://Caiohvboas.github.io,http://localhost:8080
      - key: WEBHOOK_URL
        value: https://devai-391r.onrender.com/
