services:
  - type: web
    name: devia-n8n-caio
    env: docker
    plan: free
    image:
      url: n8nio/n8n:latest
    envVars:
      - key: TZ
        value: America/Sao_Paulo
      - key: N8N_HOST
        value: 0.0.0.0
      - key: N8N_CORS_ALLOWED_ORIGINS
        value: https://Caiohvboas.github.io,http://localhost:8080
      # IMPORTANTE: Substitua a URL abaixo pela URL real que aparece no dashboard do Render
      - key: WEBHOOK_URL
        value: https://devai-vqj5.onrender.com
      # --- Configuração do Banco de Dados (Supabase) ---
      - key: DB_TYPE
        value: postgresdb
      - key: DB_POSTGRESDB_HOST
        value: db.bkzuzlsvlpyppowxebty.supabase.co
      - key: DB_POSTGRESDB_PORT
        value: 5432
      - key: DB_POSTGRESDB_DATABASE
        value: postgres
      - key: DB_POSTGRESDB_USER
        value: postgres
      - key: DB_POSTGRESDB_PASSWORD
        value: K!X@Hwv27Eqc6Q$
